header {
	font-family: 'Roboto', sans-serif;
	left: 0;
	height: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
	transition: top 0.2s ease-in-out;
	padding: 22px 0 26px 0;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	font-color:white;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}