.leftmenuinnerinner {
	height: 1000px;
	width: 200px;
	float: left;
	background: #e3e3e3;
	padding: 1px;
}

.w3-light-grey {
	background-color: #eee !important;
}

header {
	height: 100px;
	width: 100%;
	padding: 0px;
	background: #FFB233;
}

.leftmenudiv {
	height: 30px;
}

